html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../lib/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../lib/font/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../lib/font/Roboto/Roboto-Light.ttf") format("truetype");
}
a {
  text-decoration: none !important;
}
a:hover {
  color: #F7CE40;
}

* {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #263238, #212121);
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto-Light", serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F7CE40;
}

ng-view > .container {
  padding-top: 80px;
  padding-bottom: 81px;
}

.content-item {
  padding-top: 20px;
  height: 345px;
}
.content-item .poster {
  width: 100%;
  height: 245px;
  margin-bottom: 10px;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
}
.content-item .name {
  width: 100%;
  line-height: normal;
  font-size: 16px;
  text-overflow: ellipsis;
  max-height: 38px;
  margin-bottom: 5px;
}
.content-item .uploaded {
  width: 100%;
  font-size: 12px;
  line-height: 19px;
  line-height: 19px;
  color: #C3C2C0;
}
.content-item:hover {
  cursor: pointer;
}
.content-item:hover .poster {
  -moz-box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
  -webkit-box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
  box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
}
