html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../lib/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../lib/font/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../lib/font/Roboto/Roboto-Light.ttf") format("truetype");
}
a {
  text-decoration: none !important;
}
a:hover {
  color: #F7CE40;
}

* {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #263238, #212121);
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto-Light", serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F7CE40;
}

ng-view > .container {
  padding-top: 80px;
  padding-bottom: 81px;
}

.yellow {
  color: #F7CE40;
}

.upload-container {
  letter-spacing: 1px;
}
.upload-container h2 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.upload-container h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.upload-container .row {
  padding-bottom: 50px;
}
.upload-container .input-video {
  cursor: pointer;
  height: 80px;
  border-top: 1px solid #F7CE40;
  border-bottom: 1px solid #F7CE40;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.upload-container .input-video label {
  cursor: pointer;
}
.upload-container .input-video i {
  color: #F7CE40;
}
.upload-container .input-video span {
  font-size: 14px;
}

.fast-upload {
  padding-top: 110px;
  padding-bottom: 70px;
  background: url(/lib/image/deadpool.png) no-repeat center center;
}
.fast-upload h4 {
  font-size: 30px;
  margin-bottom: 15px;
}
.fast-upload p {
  margin-bottom: 23px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}
nav::before {
  width: 100%;
  height: 80px;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(11, 22, 18, 0.7);
  z-index: -1;
}
nav img {
  vertical-align: middle !important;
}
nav #logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
nav .active-menu a {
  color: #F7CE40;
}
nav .active-menu i {
  color: #F7CE40;
}
nav menu ul {
  width: 100%;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80px;
  margin: 0 auto;
  white-space: nowrap;
}
nav menu ul li {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: inline;
  float: left;
  text-align: center;
  line-height: 80px;
}
nav menu ul li a {
  padding: 0 28px 0 28px;
  font-size: 16px;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  transition: color .28s ease;
}
nav menu ul .menu-indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  color: #F7CE40;
  background: #F7CE40;
  left: 0;
  top: calc(100% - 4px);
  will-change: left, right;
}
nav menu ul .menu-indicator.left {
  -moz-transition: left 0.125s cubic-bezier(0.35, 0, 0.25, 1), right 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: left 0.125s cubic-bezier(0.35, 0, 0.25, 1), right 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition: left 0.125s cubic-bezier(0.35, 0, 0.25, 1), right 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  transition: left 0.125s cubic-bezier(0.35, 0, 0.25, 1), right 0.25s cubic-bezier(0.35, 0, 0.25, 1);
}
nav menu ul .menu-indicator.right {
  -moz-transition: left 0.25s cubic-bezier(0.35, 0, 0.25, 1), right 0.125s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: left 0.25s cubic-bezier(0.35, 0, 0.25, 1), right 0.125s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition: left 0.25s cubic-bezier(0.35, 0, 0.25, 1), right 0.125s cubic-bezier(0.35, 0, 0.25, 1);
  transition: left 0.25s cubic-bezier(0.35, 0, 0.25, 1), right 0.125s cubic-bezier(0.35, 0, 0.25, 1);
}
nav .search, nav .profile {
  height: 80px;
  padding-top: 29px;
  padding-bottom: 29px;
  rotation: 180deg;
}
nav .search a, nav .profile a {
  float: right;
}
nav .search img, nav .profile img {
  height: 22px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #F7CE40;
  font-size: 18px;
}
.button:focus, .button:hover {
  background-color: #f6bb42;
}

@media (max-width: 767px) {
  .content {
    width: auto;
  }
}
@media (min-width: 768px) {
  .content {
    width: 654px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 790px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1200px;
  }
}

.content-card {
  padding-top: 15px;
}
.content-card::after {
  content: '';
  background: url("http://cdn.shazoo.ru/136056_4ODSJsX9dy_head.jpg") no-repeat center center, linear-gradient(to top, #000000, #7a8485);
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 631px;
  width: 100%;
}
.content-card .info-container {
  width: 590px;
}
.content-card .info-container .movie-name {
  font-size: 30px;
  font-family: "Roboto-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.content-card .info-container .short-details {
  font-size: 16px;
  color: #C4C4C0;
  margin-bottom: 40px;
}
.content-card .info-container .description {
  font-size: 20px;
}

.recent {
  background: #1a1b1d;
  height: 413px;
  overflow: hidden;
}
.recent h3 {
  color: #C3C2C0;
  padding-top: 35px;
}
.recent .content-item {
  margin-right: 40px;
}
.recent.ng-enter, .recent.ng-leave {
  -moz-transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.recent.ng-enter, .recent.ng-leave.ng-leave-active {
  height: 0;
}
.recent.ng-leave, .recent.ng-enter.ng-enter-active {
  height: 413px;
}

.content-item {
  padding-top: 20px;
  height: 345px;
}
.content-item .poster {
  width: 100%;
  height: 245px;
  margin-bottom: 10px;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.content-item .name {
  width: 100%;
  line-height: normal;
  font-size: 16px;
  text-overflow: ellipsis;
  max-height: 38px;
  margin-bottom: 5px;
}
.content-item .uploaded {
  width: 100%;
  font-size: 12px;
  line-height: 19px;
  line-height: 19px;
  color: #C3C2C0;
}
.content-item:hover {
  cursor: pointer;
}
.content-item:hover .poster {
  -moz-box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
  -webkit-box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
  box-shadow: 0 0 0 6px #F7CE40, 0 0 0 7px #F7CE40;
}

lm-input {
  position: relative;
  vertical-align: middle;
}
lm-input input {
  padding: 1em;
  border: 1px solid darkgray;
  display: block;
  background: 0 0;
  line-height: 26px;
  height: 50px;
  width: 100%;
  float: left;
}
lm-input .lm-placeholder {
  margin-bottom: 5px;
  font-size: 16px;
  letter-spacing: 1px;
}

lm-url-parser {
  position: relative;
  vertical-align: middle;
}
lm-url-parser input {
  padding: 1em;
  border: solid 2px #ffffff;
  display: block;
  background: 0 0;
  line-height: 26px;
  height: 50px;
  width: 100%;
  float: left;
}
lm-url-parser .lm-placeholder {
  margin-bottom: 5px;
  font-size: 16px;
  letter-spacing: 1px;
}

.chunk {
  height: 40px;
  width: auto;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #c4c3c0;
  padding: 10px;
  font-size: 18px;
  margin-right: 30px;
  display: inline-block;
  margin-top: 10px;
}
