<div class="container content upload-container" ng-controller="UploadCtrl as upload">
    <form name="uploadForm" ng-submit="upload.save()">
        <div class="row">
            <lm-input class="col-md-offset-2 col-md-4" ng-model="upload.content.name">Название фильма<span class="yellow">*</span></lm-input>
            <lm-input-chunk class="col-md-4" ng-model="upload.content.genres">Жанр<span class="yellow">*</span></lm-input-chunk>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8" ng-click="">
                <div class="input-video text-center empty">
                    <label ngf-select ngf-drop ng-model="upload.uploadFile">
                        <i class="fa fa-video-camera"></i> <br>
                        <span>Добавить видео {{upload.uploadFile.name}}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <lm-input class="col-md-offset-2 col-md-4" ng-model="upload.content.year">Год выпуска<span class="yellow">*</span></lm-input>
            <lm-input-chunk class="col-md-4" ng-model="upload.content.countries">Страна производитель<span class="yellow">*</span></lm-input-chunk>
        </div>

        <div class="row">
            <lm-input class="col-md-offset-2 col-md-4" ng-model="genre">Режисер<span class="yellow">*</span></lm-input>
            <lm-input class="col-md-4" ng-model="genre">Актеры<span class="yellow">*</span></lm-input>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button class="button" type="submit">Добавить фильм</button>
            </div>
        </div>
    </form>

</div>